Repository ghostty-org/discord-bot, pull requests merged in 2025-09, with the labels that each got.

#327 chore: remove need for explicit preview flag
  .github/workflows/ci.yml
  README.md
  justfile
  pyproject.toml
Labels: internal

#330 chore: bump dpy version
  pyproject.toml
  uv.lock
Labels: internal

#332 webhooks: support `issues.edited`
  app/components/github_integration/webhooks/issues.py
  app/components/github_integration/webhooks/prs.py
Labels: area: webhooks

#335 chore: bump dependencies
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Labels: internal

#337 webhooks: move discussions to separate stream & support comments
  .env.example
  README.md
  app/components/docs.py
  app/components/github_integration/mentions/resolution.py
  app/components/github_integration/webhooks/core.py
  app/components/github_integration/webhooks/discussions.py
  app/setup.py
Labels: internal, area: webhooks

#339 webhooks: adjust discussion.answered to better work with comments
  app/components/github_integration/webhooks/discussions.py
Labels: area: webhooks

#351 chore: update ruff and apply changes
  app/bot.py
  app/common/hooks.py
  app/components/github_integration/comments/discussions.py
  app/components/github_integration/comments/fetching.py
  app/components/github_integration/mentions/fmt.py
  app/components/github_integration/mentions/resolution.py
  app/components/github_integration/models.py
  app/components/github_integration/webhooks/core.py
  app/components/github_integration/webhooks/discussions.py
  app/components/github_integration/webhooks/issues.py
  app/components/github_integration/webhooks/prs.py
  app/components/move_message.py
  app/status.py
  pyproject.toml
  tests/test_utils.py
  tests/utils/kitposer.py
  uv.lock
Labels: internal

#344 Rename move_message_via_webhook() to move_message()
  app/common/message_moving.py
  app/components/move_message.py
  app/components/zig_codeblocks.py
Labels: internal, area: message-moving

#358 Move github_integration.emojis to GhosttyBot
  app/bot.py
  app/components/close_help_post.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/commits.py
  app/components/github_integration/emoji.py
  app/components/github_integration/mentions/fmt.py
  app/components/github_integration/mentions/integration.py
  app/components/github_integration/webhooks/core.py
  app/components/github_integration/webhooks/discussions.py
  app/components/github_integration/webhooks/issues.py
  app/components/github_integration/webhooks/prs.py
  tests/test_close_help_post.py
Labels: internal

#362 A few more tests
  tests/test_utils.py
Labels: internal

#365 Support `removed_from_merge_queue`
  app/components/github_integration/comments/fetching.py
Labels: area: github-integration

#360 Remove redundant affixes
  app/components/activity_status.py
  app/components/github_integration/__init__.py
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/__init__.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/commits.py
  app/components/github_integration/mentions/__init__.py
  app/components/github_integration/mentions/integration.py
  app/components/message_filter.py
  app/components/xkcd_mentions.py
  app/components/zig_codeblocks.py
Labels: internal

#367 Ignore bot messages when checking if a post is to be locked.
  app/components/lock_old_posts.py
Labels: area: help-posts

#371 chore: improve type/data sourcing
  app/utils/message_data.py
  tests/utils/kitposer.py
Labels: internal

#370 feat: autocomplete solved config options
  app/components/close_help_post.py
Labels: area: help-posts

#372 bump monalisten to v0.3.0
  app/components/github_integration/__init__.py
  app/components/github_integration/commits.py
  app/components/github_integration/webhooks/__init__.py
  app/components/github_integration/webhooks/core.py
  app/components/github_integration/webhooks/discussions.py
  app/components/github_integration/webhooks/issues.py
  app/components/github_integration/webhooks/prs.py
  pyproject.toml
  uv.lock
Labels: area: webhooks

#342 Allow the author of a moved help post to `/close` it
  app/common/message_moving.py
  app/components/close_help_post.py
Labels: area: help-posts

#347 Add assorted log messages
  app/__main__.py
  app/bot.py
  app/common/cache.py
  app/common/linker.py
  app/components/accept_invite.py
  app/components/developer.py
  app/components/github_integration/commits.py
  app/errors.py
  app/log.py
  app/utils/__init__.py
  app/utils/message_data.py
  pyproject.toml
  tests/test_utils.py
Labels: internal

#375 Remove warning for entity mentions in DMs
  app/components/github_integration/mentions/integration.py
Labels: area: github-integration

#376 Improve naming of GitHub integration features
  app/components/github_integration/__init__.py
  app/components/github_integration/comments/__init__.py
  app/components/github_integration/comments/fetching.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/commits.py
  app/components/github_integration/entities/__init__.py
  app/components/github_integration/entities/cache.py
  app/components/github_integration/entities/discussions.py
  app/components/github_integration/entities/fmt.py
  app/components/github_integration/entities/integration.py
  app/components/github_integration/entities/resolution.py
  app/components/github_integration/mentions/__init__.py
  tests/test_close_help_post.py
Labels: internal, area: github-integration

#366 feat: add commands for (un)loading extensions
  app/bot.py
  app/components/close_help_post.py
  app/components/developer.py
  app/components/github_integration/__init__.py
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/__init__.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/commit_links.py
  app/components/github_integration/commit_types.py
  app/components/github_integration/entities/__init__.py
  app/components/github_integration/entities/integration.py
  app/components/github_integration/webhooks/__init__.py
  app/components/github_integration/webhooks/commits.py
  app/components/github_integration/webhooks/discussions.py
  app/components/github_integration/webhooks/integration.py
  app/components/github_integration/webhooks/issues.py
  app/components/github_integration/webhooks/prs.py
  app/components/github_integration/webhooks/utils.py
  app/errors.py
Labels: internal
