Repository ghostty-org/discord-bot, pull requests merged in 2025-10, with the labels that each got.

#383 feat: add more discussion state emojis
  app/bot.py
  app/components/github_integration/comments/discussions.py
  app/components/github_integration/entities/discussions.py
  app/components/github_integration/entities/fmt.py
  app/components/github_integration/models.py
  app/components/github_integration/webhooks/discussions.py
  tests/test_close_help_post.py
Labels: area: github-integration

#390 bump dependencies
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Labels: internal

#394 Make zero item count check in commit links more consistent
  app/components/github_integration/commit_links.py
Labels: area: github-integration

#395 Reply instead of DM caller in `!sync`
  app/components/developer.py
Labels: internal

#389 feat: auto cleanup webhooks
  app/components/github_integration/webhooks/commits.py
  app/components/github_integration/webhooks/discussions.py
  app/components/github_integration/webhooks/issues.py
  app/components/github_integration/webhooks/prs.py
  app/components/github_integration/webhooks/utils.py
Labels: area: webhooks
