Repository ghostty-org/discord-bot, pull requests merged in 2025-07, with the labels that each got.

#262 Use `MessageSnapshot` instead of fetching forwarded messages
  app/utils/__init__.py
  app/utils/message_data.py
  app/utils/webhooks.py
Labels: area: message-moving

#263 Hard-wrap all comments and strings to 88 characters wide
  .env.example
  app/components/close_help_post.py
  app/components/docs.py
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/discussions.py
  app/components/github_integration/comments/fetching.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/mentions/resolution.py
  app/components/github_integration/models.py
  app/components/lock_old_posts.py
  app/components/message_filter.py
  app/components/move_message.py
  app/components/status.py
  app/components/zig_codeblocks.py
  app/utils/__init__.py
  app/utils/hooks.py
  app/utils/message_data.py
  app/utils/webhooks.py
  tests/test_message_moving.py
Labels: internal

#264 Remove special-casing of `a` before `review` in comments
  app/components/github_integration/comments/fetching.py
Labels: area: github-integration

#266 Assorted cleanup from MessageSnapshot change
  app/utils/webhooks.py
Labels: internal, area: message-moving

#279 hide empty diff sizes for PR mentions
  app/components/github_integration/mentions/fmt.py
Labels: area: github-integration

#282 Alias `discord` as `dc`
  app/common/hooks.py
  app/common/message_moving.py
  app/components/accept_invite.py
  app/components/autoclose.py
  app/components/close_help_post.py
  app/components/docs.py
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/mentions/fmt.py
  app/components/github_integration/mentions/integration.py
  app/components/github_integration/mentions/resolution.py
  app/components/lock_old_posts.py
  app/components/message_filter.py
  app/components/move_message.py
  app/components/xkcd_mentions.py
  app/components/zig_codeblocks.py
  app/core.py
  app/setup.py
  app/utils/__init__.py
  app/utils/message_data.py
  tests/test_message_moving.py
  tests/test_utils.py
Labels: internal

#283 ban `import discord` + `justfile` adjustments
  README.md
  justfile
  pyproject.toml
Labels: internal

#286 zig-codeblocks: allow replacing messages with attachments
  app/components/zig_codeblocks.py
Labels: area: zig-codeblocks

#288 re-suppress embeds after 5 seconds
  app/common/hooks.py
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/mentions/integration.py
  app/components/xkcd_mentions.py
  app/components/zig_codeblocks.py
  app/utils/__init__.py
Labels: area: github-integration

#287 fix: SGR 0 only applied inside codeblocks
  app/components/zig_codeblocks.py
Labels: area: zig-codeblocks

#289 zig-codeblocks: bump to 0.3.3
  app/components/zig_codeblocks.py
  pyproject.toml
  uv.lock
Labels: internal, area: zig-codeblocks
