Repository ghostty-org/discord-bot, pull requests merged in 2025-08, with the labels that each got.

#292 add safeguards for editing messages in update task
  app/common/hooks.py
  app/components/github_integration/mentions/integration.py
  app/components/move_message.py
  app/utils/__init__.py
Labels: area: github-integration

#293 Add `/close upstream` as an alternative to `/close wontfix`
  app/components/close_help_post.py
Labels: area: help-posts

#294 support linking commits from SHAs
  app/components/github_integration/__init__.py
  app/components/github_integration/commits.py
  app/components/github_integration/mentions/fmt.py
  app/components/github_integration/mentions/integration.py
  app/components/github_integration/mentions/resolution.py
  app/components/github_integration/models.py
  app/core.py
Labels: new-feature, area: github-integration

#297 Make the owner and repo matches in regexes stricter
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/fetching.py
Labels: internal, area: github-integration

#304 Update the README
  README.md
Labels: documentation

#307 support URLs as commit mention source; don't trigger for code links
  app/components/github_integration/commits.py
Labels: area: github-integration

#308 build foundation for the new webhook feed
  .env.example
  app/components/github_integration/webhooks/__init__.py
  app/components/github_integration/webhooks/core.py
  app/config.py
  app/core.py
  pyproject.toml
  tests/fixtures/config.py
  uv.lock
Labels: new-feature, area: github-integration

#312 webhook: handle PR events
  app/components/github_integration/webhooks/__init__.py
  app/components/github_integration/webhooks/core.py
  app/components/github_integration/webhooks/prs.py
  pyproject.toml
  uv.lock
Labels: area: github-integration

#319 webhooks: handle discussion events
  app/components/github_integration/webhooks/__init__.py
  app/components/github_integration/webhooks/discussions.py
Labels: area: github-integration

#323 webhooks: fix some formatting issues + add `GitHubUser.default`
  app/components/github_integration/comments/fetching.py
  app/components/github_integration/models.py
  app/components/github_integration/webhooks/discussions.py
  app/components/github_integration/webhooks/issues.py
  app/components/github_integration/webhooks/prs.py
Labels: internal, area: github-integration

#324 webhooks: ignore empty reviews
  app/components/github_integration/webhooks/prs.py
Labels: area: webhooks

#325 use `recommended` mode for basedpyright
  app/__main__.py
  app/common/cache.py
  app/common/hooks.py
  app/common/message_moving.py
  app/components/autoclose.py
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/fetching.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/commits.py
  app/components/github_integration/mentions/cache.py
  app/components/github_integration/mentions/fmt.py
  app/components/github_integration/mentions/integration.py
  app/components/github_integration/mentions/resolution.py
  app/components/github_integration/models.py
  app/components/move_message.py
  app/components/xkcd_mentions.py
  app/components/zig_codeblocks.py
  app/setup.py
  app/utils/message_data.py
  pyproject.toml
  tests/fixtures/hooks.py
  tests/utils/kitposer.py
Labels: internal
