Repository ghostty-org/discord-bot, pull requests merged in 2025-06, with the labels that each got.

#239 Also close old locked posts that were locked
  app/components/lock_old_posts.py
Labels: area: help-posts

#229 Only move bot embeds
  app/utils/webhooks.py
Labels: area: message-moving

#240 Remove unnecessary emoji variation selectors / Always use Discord SVG emojis
  app/components/accept_invite.py
  app/components/github_integration/mentions/fmt.py
  app/utils/webhooks.py
Labels: internal

#233 Attach some long code links in files
  app/components/github_integration/code_links.py
  app/components/github_integration/comments/integration.py
  app/components/xkcd_mentions.py
  app/utils/hooks.py
Labels: area: github-integration

#219 Allow deleting moved messages
  README.md
  app/components/docs.py
  app/components/move_message.py
  app/components/zig_codeblocks.py
  app/utils/__init__.py
  app/utils/webhooks.py
  tests/test_message_moving.py
Labels: area: message-moving

#244 bump dev deps, use new ruff formatting style
  .github/workflows/ci.yml
  README.md
  app/components/github_integration/mentions/fmt.py
  app/components/github_integration/mentions/integration.py
  app/components/message_filter.py
  app/components/status.py
  app/utils/webhooks.py
  pyproject.toml
  tests/test_close_help_post.py
  uv.lock
Labels: internal

#241 Add reactions to GitHub comment embeds
  app/components/github_integration/comments/fetching.py
  app/components/github_integration/comments/integration.py
  app/components/github_integration/models.py
Labels: area: github-integration

#247 dedent linked code snippets
  app/components/github_integration/code_links.py
Labels: area: github-integration

#248 Subclass `WebhookMessage` as `MovedMessage`
  app/components/move_message.py
  app/utils/__init__.py
  app/utils/message_data.py
  app/utils/webhooks.py
  tests/test_message_moving.py
Labels: internal, area: message-moving

#245 Handle deletion of messages moved multiple times
  app/utils/__init__.py
  app/utils/webhooks.py
  tests/test_message_moving.py
Labels: area: message-moving

#249 Correctly handle moving moved messages with no content
  app/utils/webhooks.py
Labels: area: message-moving

#250 include more details in entity mentions
  app/components/github_integration/mentions/discussions.py
  app/components/github_integration/mentions/fmt.py
  app/components/github_integration/models.py
  tests/test_close_help_post.py
Labels: area: github-integration

#252 Fix GitHub comments
  app/components/github_integration/models.py
Labels: area: github-integration

#251 Move `get_moved_message()` into a classmethod of `MovedMessage`
  app/components/move_message.py
  app/utils/__init__.py
  app/utils/webhooks.py
Labels: internal, area: message-moving

#242 add a safeguard for accidental VS16 additions
  app/components/github_integration/comments/integration.py
  app/components/move_message.py
  app/components/zig_codeblocks.py
  app/utils/__init__.py
  app/utils/webhooks.py
  tests/test_meta.py
Labels: internal

#260 deps: bump zig-codeblocks to 0.3.2
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Labels: internal

#261 Correct comment about the handle_xkcd_mentions() coro in on_message()
  app/core.py
Labels: internal
